@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
        url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf") format('opentype');
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}